.containerGroupExp {
  display: flex;
  position: relative;
  border-radius: 5px;
  flex-wrap: wrap;
  margin: 0.5em 0;
  background-color: whitesmoke;
  align-items: center;
  padding: 0 0.5em;
  border: 1px solid transparent;
}


.titleEducation {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.containerIcon {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}

.certified  {
  display: flex;
  align-self: flex-end;
}

img.arrowSmall {
  display: flex;
  width: 12px;
  height: 12px;

}

.fontWhite {
  background-color: red;
}

@media (max-width: 1024px) {

  .containerGroup {
    padding: 0.7em 0.5em;
  }

  .containerIcon {
    margin-top: 20px;
  }

  img.arrowSmall {
    display: none;
  }

  .containerIcon {
    margin-top: unset;
  }

  .titleEducation {
    padding-left: unset;
    padding-right: 0.5em;
    margin: unset;
    width: 100%;
    padding-top: 0.5em;
  }

}

@media (max-width: 504px) {
  .containerIcon {
    margin-top: unset;
    margin-bottom: 0.5em;
    width: 100%;
}
}