.titleEducation {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.containerIcon {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}

.certified  {
  display: flex;
  align-self: flex-end;
}

img.arrowSmall {
  display: flex;
  width: 12px;
  height: 12px;

}

.fontWhite {
  background-color: red;
}

@media (max-width: 1024px) {

  .containerGroup {
    padding: 0.7em 0.5em;
  }

  .containerIcon {
    margin-top: 20px;
  }
}