.rounded {
  display: flex;
  height: 33px;
  width: 33px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.6em;
  cursor: pointer;
  /* border: 1px solid #fff; */
}

.rounded.dark {
  border: 1px solid #11364A;
}

.rounded:hover,
.rounded:hover * {
  color: #005B8E;
  background-color: #00FFE0;
  border-color: #00FFE0;
}

.rounded.dark:hover,
.rounded.dark:hover * {
  color: #00FFE0;
  background-color: #11364A;
  border-color: #11364A;
}

.rounded:active,
.rounded:active * {
  color: #FF0057;
  background-color: #11364A;
  border-color: #11364A;
}

.rounded.dark:active,
.rounded.dark:active * {
  color: #FF0057;
  background-color: #11364A;
  border-color: #11364A;
}
