.articlesCards {
  display: flex;
  flex-direction: column;
  width: 75%;
  overflow: hidden;
  margin-left: 15px;
}

@media (max-width: 768px) {

  .articlesCards {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    margin: 2%;
  }

}