.navbar {
  position: fixed;
  display: flex;
  flex-flow: row;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  background-color: #005b8ef5;
  padding: 0.8em 0;
  top: 0px;
  z-index: 5;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/** Logoyipo*/

.logo {
  animation: vary 3s ease-in-out alternate infinite;
}

@keyframes vary {
  to { transform: scale(0.9) }
}




@media (max-width: 768px) {
  
  .navbar {
    width: 90vw;
  }
  
  .row {
    padding-right: 30px;
  }

  .logo {
    padding-left: 30px;
  }

}

@media (max-width:472px){
  .row small {
    display: none;
  }
}

