.contentCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 2em 0;
}

.h2Title {
  color: #00FFE0;
  font-size: 30px;
  margin-top: 1.5em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.322);
}

@media (max-width: 1244px) {
  .contentCards {
    grid-template-columns: repeat(2, 1fr);    
  }
}

@media (max-width: 650px) {
  .contentCards {
    grid-template-columns: repeat(1, 1fr);    
  }
}