.containerGroup {
  display: flex;
  position: relative;
  border-radius: 5px;
  flex-wrap: wrap;
  margin: 0.5em 0;
  background-color: whitesmoke;
  align-items: center;
  padding: 0 0.5em;
  border: 1px solid transparent;
}

.groupTitle {
  align-self: center;
  padding: 0.5em;
  margin-right: 0.5em;
}

@media (max-width: 503px) {
  
  .groupTitle {
    align-self: center;
    padding: 0.5em;
    margin-right: 0.5em;
    width: 100%;
    text-align: center;
  }
  
  .containerGroup {
    padding: 0.7em 0.5em;
    justify-content: center;
  }

}